/* components/ChatWidget.module.css */
.chatWidgetContainer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    width: 300px;
}

.rcw-conversation-container {
    border-radius: 10px;
}

.rcw-header {
    background-color: #00B2A9;
    color: white;
}


.rcw-new-message {
    padding: 10px 20px;
}

.rcw-title {
    font-size: 16px;
}

.rcw-subtitle {
    font-size: 12px;
}
.rcw-launcher{
    background-color: #2C3E50;
}
