/*######### categoryGird ##########*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 16px;
}

.grid-item {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
}
.grid-item:hover {
  transform: translateY(-4px);
  cursor: pointer;
}

/*######### product page ##########*/

.productContainer {
  padding: 20px;
  max-width: 1180px;
  margin: 0 auto;
}

.productName {
  font-size: 2rem;
  margin-bottom: 20px;
}

.productDetails {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.productImage {
  width: 50%;
  padding-right: 40px;
}

.productInfo {
  flex: 2 1 300px;
  display: flex;
  flex-direction: column;
}

.productDescription {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.productPrice {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: bold;
}



/*############# productGrid ############*/
.card {
  cursor:pointer;
  transition: transform 0.3s ease;
}
.card:hover {
  opacity: 0.9;
  transition: transform 0.3s ease;
}
/*.add-to-cart-overlay {*/
/*  position: absolute;*/
/*  bottom: 0;*/
/*  left: 0;*/
/*  right: 0;*/
/*  background: rgba(255, 255, 255, 0.9);*/
/*  opacity: 0;*/
/*  transition: opacity 0.3s ease;*/
/*  padding: 10px;*/
/*}*/
.card:hover .add-to-cart-overlay {
  opacity: 1;
}

/* ADD TO CART */
.addToCartContainer {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.quantityInput {
  width: 50px;
  padding: 5px;
  font-size: 16px;
}
.addToCartButton {
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  font-size: 16px;
  background-color: #027a2e;
  border: 1px solid #009c39;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  justify-content: center;
}
.addToCartButton:hover {
  background-color: #009c39;
}
