/*######### categoryGird ##########*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 16px;
}

.grid-item {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
}
.grid-item:hover {
  transform: translateY(-4px);
  cursor: pointer;
}

/*######### product page ##########*/

.productContainer {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.productName {
  font-size: 2rem;
  margin-bottom: 20px;
}

.productDetails {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.productImage {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  flex: 1 1 300px;
}

.productInfo {
  flex: 2 1 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productDescription {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.productPrice {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.productStock {
  font-size: 1.2rem;
  color: green;
}

/*############# productGrid ############*/
.card {
  cursor:pointer;
  transition: transform 0.3s ease;
}
.card:hover {
  transform: translateY(-10px);
}
.add-to-cart-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 10px;
}
.card:hover .add-to-cart-overlay {
  opacity: 1;
}